HTML CSS JS Result Skip Results Iframe
body {
  margin: 0;
  overflow-x: hidden;
  transition: all .5s;
  height: 2000px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: coral;
  border-radius: 15px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
}

i {
  margin-right: 10px;
}

li {
  list-style: none;
  float: left;
  color: white;
  width: 136px;
  margin-right: 32px;
  margin-bottom: 15px;
  float: left;
  display: inherit;
  transition: all 0.5s;
  font-size: 3px;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode li {
  color: #121212;
}

.dark-mode .navbar {
  background-color: #1a1a1a;
  border: none;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
}

.dark-mode .navbar a {
  color: white;
}

.dark-mode .movie:hover {
  background-color: #212121;
}

.dark-mode .movie:hover h3 {
  color: white;
}

.dark-mode .navbar .search {
  background-color: #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
}

.dark-mode #usermodal {
}

.dark-mode #usermodal input[type=text] {
  background-color: #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  color: white;
}

.dark-mode #usermodal input[type=password] {
  background-color: #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  color: white;
}

.dark-mode #genres {
  background-color: #1a1a1a;
  border: none;
  color: white;
}

.dark-mode #genres a {
  color: white;
}

.dark-mode .sortbtn {
  background-color: #121212;
  color: white;
}

.dark-mode .sortbtn:hover {
  background-color: #1f1f1f;
  color: white;
}

.dark-mode ::-webkit-scrollbar {
  backgroud: #121212;
}


/*
content
 */

 #nav2 {
   display: none;
   top: 0;
   position: fixed;
 }

.navbar {
  width: 100%;
  background-color: #e3e3e3;
  padding: 15px 0px 15px 0;
  margin: 0;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .5s;
}

.navbar .search {
  outline: none;
  background-color: #e3e3e3;
  padding: 5px;
  border: none;
  width: 73px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid #e3e3e3;
  transition: all .5s;
}

.navbar .search:focus {
  border-bottom: 2px solid coral;
  width: 170px;
}

.navbar a {
  padding: 21.5px;
  transition: 0.5s;
  color: black;
  font-family: arial;
  text-decoration: none;
  border: none;
}

.navbar a:hover {
  background-color: #a1a1a1;
}

#dropicon {
  color: white;
}

#genres {
  display: none;
  width: 100%;
  background-color: #e3e3e3;
  padding: 15px 15px 15px 0;
  margin: 0;
  border: none;
  z-index: 1;
  transition: all .5s;
}

#genres a {
  padding: 15px;
  transition: 0.5s;
  color: black;
  font-family: arial;
  text-decoration: none;
}

#genres a:hover {
  background-color: #999999;
}

#icon {
  transition: all .5s;
}

#usermodal {
  display: none;
  float: right;
  font-family: Verdana, sans-serif;
}


#usermodal input[type=text] {
  outline: none;
  background-color: #e3e3e3;
  padding: 5px;
  border: none;
  width: 73px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid #e3e3e3;
  transition: all .5s;
  font-family: URW Chancery L, cursive;
}

#usermodal input[type=text]:focus {
  border-bottom: 2px solid coral;
  width: 170px;
}

#usermodal input[type=password] {
  outline: none;
  background-color: #e3e3e3;
  padding: 5px;
  border: none;
  width: 73px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid #e3e3e3;
  transition: all .5s;
  font-family: URW Chancery L, cursive;
}

#usermodal input[type=password]:focus {
  border-bottom: 2px solid coral;
  width: 170px;
}

.movies {
  margin-left: 35px;
  z-index: 0;
  font-family: Andale Mono, monospace;
  margin-top: 60px;
}

.movie:hover {
  filter: blur(15%);
  background-color: #e3e3e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scaleX(102%);
}

.movie:hover img {
    filter: blur(1.5px);
    transform: scale(110%);
    transform: rotate(5deg);
}

.movies a {
  display: inline-block;
  text-decoration: none;
  color: black;
  float: left;
  margin-left: 20px;
}

.movie h3 {
  color: black;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.movie:hover h3 {
  opacity: 1;
}

.movie img {
  height: 180px;
  width: 130px;
  transition: all .5s;
}

.home1 {
  display: none;
}

.filterDiv {
  display: none;
  float: left;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}

.sortbtn {
  padding: 15px;
  border: none;
  width: 80px;
  transition: all .5s;
  background: white;
}

.sortbtn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #FCFCFC;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input[type=checkbox]:checked + .slider {
  background-color: #2196f3;
}

input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}














/*
responsive
 */

 @media only screen and (max-width: 1115px) {
   .genres {
     justify-content: center;
     align-items: center;
   }

   .genres a {
     display: inline-block;
     font-size: 24px;
   }
 }

@media only screen and (max-width: 800px) {

  .navbar a {
    font-size: 24px;
    margin: 0;
  }

  .navbar {
    padding: 0;
  }


.movie {
  width: 300px;
  height: 450px;
  margin-bottom: 70px;
}

.movie img {
  width: 300px;
  height: 400px;
}

li {
  width: 300px;
  height: 450px;
  margin-bottom: 70px;
}

li img {
  width: 300px;
  height: 400px;
}

  .home1 {
    display: block;
    text-align: center;
  }

  .home2 {
    display: none;
  }

  .navbar input[type=text] {
    padding: 20px;
    width: 100%;
  }

  .navbar input[type=text]:focus {
    padding: 20px;
    width: 100%;
  }

  .switch {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}










#navWrap {
    height:70px
}
nav {
    height: 70px;
    background:gray;
}
.sticky {
    position: fixed;
    top:0;
}
